[defaults]
# 將路徑替換為步驟 2 所輸出的實際路徑
strategy_plugins = /usr/lib/python3/dist-packages/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
# NOTE: keep watching: https://github.com/mitogen-hq/mitogen/issues/1278

[ssh_connection]
# 必須啟用 pipelining
pipelining = True
