# {{ ansible_managed }}

{% if plugin == 'cloudflare' %}
dns_cloudflare_api_token={{ token }}
{% endif %}
{% if plugin == 'digitalocean' %}
dns_digitalocean_token={{ token }} 
{% endif %}
{% if plugin == 'luadns' %}
# LuaDNS API credentials used by Certbot
dns_luadns_email={{ email }}
dns_luadns_token={{ token }}
{% endif %}

