{% for item in v %}
- protocol: "{{ item.protocol }}"
  settings:
    udp: true
    auth: noauth
  listen: "{{ item.listen | default('127.0.0.1') }}"
  port: {{ item.port }}
  tag: "{{ item.tag.base }}{% if item.tag.suf is defined %}-{{ item.tag.suf }}{% endif %}"
{% endfor %}
