dns:
    hosts:
      dns.google: 8.8.8.8
      dns.google2: 8.8.4.4
      dns.pub: 119.29.29.29
      dns.alidns.com: 223.5.5.5
      geosite:category-ads-all: 127.0.0.1
balancers:
  - tag: "leastPing-proxy-balancer"
    selector: {{ [tag_out_base] | product(tag_suf_list) | map('join', '-')}}
    strategy:
      type: leastPing
rules:
  {% for suf in tag_suf_list %}
  - inboundtag: {{ tag_in_list | product([suf]) | map('join', '-') }}
    outboundtag: "{{ tag_out_base }}-{{ suf }}"
  {% endfor %}
  - ip:
      - "geoip:private"
    inboundtag: {{ tag_in_proxy_list + tag_in_auto_list }}
    outboundTag: "direct"
  - domain:
      - "domain:{{ my_basedomain }}"
      - geosite:cn
    {% for d in domains_direct | default([]) %}
      - {{ d }}
    {% endfor %}
    inboundtag: {{ tag_in_auto_list }}
    outboundTag: "direct"
  - ip:
      - "geoip:cn"
    {% for ip in ips_direct | default([]) %}
      - {{ ip }}
    {% endfor %}
    inboundtag: {{ tag_in_auto_list }}
    outboundTag: "direct"
  - domain:
      - "domain:{{ my_basedomain }}"
    {% for d in domains_direct | default([]) %}
      - {{ d }}
    {% endfor %}
    inboundtag: {{ tag_in_proxy_list + tag_in_auto_list }}
    outboundTag: "direct"
  - inboundTag: {{ tag_in_proxy_list + ["!cn-dns-tag"] }}
    balancerTag: "leastPing-proxy-balancer"
  {% for reg in rules_region | default([]) %}
  {{ reg }}
  {% endfor %}
  - domain:
    {% for d in domains_proxy | default([]) %}
      - {{ d }}
    {% endfor %}
    inboundtag: {{ tag_in_auto_list }}
    balancerTag: "leastPing-proxy-balancer"
